.cs-section{
    padding-left:5rem;
    padding-right:5rem;
}
.mini-nav{
    display: flex;
    justify-content: flex-start;
    width: 51.25rem;
}
.mini-nav > li{
    color:  #A3A3A3;
    padding-right: 1.625rem;;
    list-style: none;
}
.cs-details{
    width: 51.25rem;
height: 8.5rem;
    margin-bottom: 60px;
}
.blk-img{
    width: 195px;
height: 87px;
}
.blk{
    background-color: black;
    width: 80.813rem;
    height: 10.625rem;
    
    border: 1px solid #CBCBCB;
    box-shadow: 0px 2px 43px rgba(115, 115, 115, 0.11);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black-1{
    font-size:  26px;
}
.black-2{
    font-size:  15px;
    width: 438px;
height: 42px;
}